name: Security Scans

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  sast:
    name: SAST – Semgrep
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Semgrep
        run: pip install semgrep

      - name: Run Semgrep
        run: semgrep --config auto --json --output sast.json

      - name: Upload JSON (Semgrep)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sast-report
          path: sast.json

  sca:
    name: SCA – Trivy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Trivy
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: fs
          format: json
          output: sca.json
          ignore-unfixed: true
          severity: CRITICAL,HIGH

      - name: Upload JSON (Trivy)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sca-report
          path: sca.json

  secret_scan:
    name: Secret Scanning - Gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --report-format html --report-path secrets.html

      - name: Upload HTML (Gitleaks)
        uses: actions/upload-artifact@v4
        with:
          name: secrets-report
          path: secrets.html
